header#bract-header {
  font-family: Tahoma, sans-serif;
}

header#bract-header > h1,
header#bract-header > h2 {
  text-align: center;
}

form#bract-form {
  font-size: 30px;
  font-family: Arial;
  padding: 1em;
  margin: 1em;
}

.flex-row {
  display: flex;
  flex-flow: row wrap;
}

.flex-center {
  justify-content: center;
}

.flex-end {
  justify-content: flex-end;
}

.bract-field {
  padding: 0.5em;
  border-radius: 5px;
  margin: 0.5em;
  font-size: 24px;
}

.bract-textarea {
  font-family: Arial, sans-serif;
}

.err-msg {
  width: 300px;
  font-size: 12px;
  color: red;
  padding: 0.75em;
}

.plain-button {
  cursor: pointer;
  padding: 0.33em 0.66em;
  border-radius: 5px;
  color: white;
  background-color: black;
  opacity: 0.33;
  margin: 0.5em;
}

article#form-display-box {
  padding: 1em;
  margin: 1em;
  font-size: 30px;
  text-align: center;
  color: cornflowerblue;
  word-wrap: normal;
  font-family: monospace, sans-serif;

}

#clipboard-icon {
  font-size: 30px;
  opacity: 0.33;
  cursor: pointer;
  color: black;
}

.invis {
  /*
  opacity: 0;
  */
  margin: 1em;
}

#modal-toolbar {
  margin: 1em;
}

#product-review-snippet {
  font-size: 20px;
  font-family: Tahoma, Arial, sans-serif;
  padding: 1em;
  margin: 1em;
}

#review-select, #image-select {
  width: 360px;
  padding: 1em;
  border-radius: 5px;
  font-size: 16px;
  margin: 1em;
}

p.label {
  font-size: 20px;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  margin-block-start: 0;
  margin-block-end: 0;
  text-align: center;
}
